page-about {

    .background-modeSetting{
        background:#1a0a3b;
        color: white;
    }
    .menu-ms-active{
        
        background: #ff3e62;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;  
        margin: auto;
    }
    .menu-ms-close{
        
        //background: white;
        //width: 150%;
        width: 15vw;
        height: 15vw;
        // border-radius: 50%;
        // border-style: solid;
        // border-width: 2px;
        // border-color: #998ead;
        //color: #998ead;
        margin: auto;
        
    }
    .menu-ms-active-aromas{
        
        background: #00ccff;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;  
        margin: auto;
    }
    .menu-ms-close-aromas{
        
        width: 15vw;
        height: 15vw;
        background:radial-gradient(circle closest-side,  var(--colorInner) 0%,  var(--colorOutter)80%);
        margin: auto;
        border-radius: 50%;
        //#ff3e617a
        //#ff3e6100
        
    }
    .menu-top1{
        //font-size: 2%;   
        padding-left: 23%;
        padding-right: 23%;
        padding-top: 23%;
        //position: 50% 50%;
    }
    .menu-mid1{
        //font-size: 2%;   
        padding-left: 5%;
        padding-right: 5%;
        //padding-top: 25%;
        //position: 50% 50%;
        
    }
    .tempText{
        //font-size: 2%;   
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 5vh;   
        text-align: center;
        //position: fixed;
    }
}
