<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="background-modeSetting">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>Mode setting</h1><p></p>
            </ion-col>
        </ion-row>
    </ion-grid>
  
  <ion-grid>
    <ion-row>
        <ion-col>
          <h5 style="color: #998ead; text-align-last:left">Modes</h5>
          <ion-grid style="text-align: center;">
            <ion-row >
               <ion-col >
                <div class="menu-ms-active">
                  <img src="./assets/imgs/sun.svg" class="menu-top1">
                </div>
                <span  class="menu-mid1" style="font-size:100% ;color: #998ead;">Heat</span>

                
               </ion-col> 
               <ion-col>
                <div class="menu-ms-close">
                  <img src="./assets/imgs/snowflake.svg" class="menu-top1">
                </div>
                <span  class="menu-mid1" style="font-size:100%; color: #998ead">Cool</span>
              </ion-col> 
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="menu-ms-close">
                  <img src="./assets/imgs/sea-waves.svg" class="menu-top1">
                </div>
                <span  class="menu-mid1" style="font-size:100%; color: #998ead">Wet</span>
              </ion-col> 
              <ion-col>
                <div class="menu-ms-close">
                  <img src="./assets/imgs/dryer.svg" class="menu-top1">
                </div>
                <span  class="menu-mid1" style="font-size:100%; color: #998ead">Dry</span>
             </ion-col> 
            </ion-row>
          </ion-grid>

        </ion-col>
        <ion-col>
          <h5 style="color: #998ead; text-align-last:right">Aromas</h5>
          <ion-grid style="text-align: center;">
            <ion-row >
               <ion-col >
                <div class="menu-ms-close-aromas" style="--colorInner: #ff3e617a; --colorOutter: #ff3e6100;">
                  <img src="./assets/imgs/drop_cherry.svg" class="menu-top1">
                </div>
                <span  class="menu-mid1" style="font-size:100%; color: #998ead">Cherry</span>

               </ion-col> 
               <ion-col>
                <div class="menu-ms-active-aromas">
                  <img src="./assets/imgs/drop_ice.svg" class="menu-top1">
                </div>
                <span  class="menu-mid1" style="font-size:100%; color: #998ead">ice</span>
              </ion-col> 
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="menu-ms-close-aromas" style="--colorInner: #b381ff7a; --colorOutter: #b381ff00;">
                  <img src="./assets/imgs/drop_grape.svg" class="menu-top1">
                </div>
                <span  class="menu-mid1" style="font-size:100%; color: #998ead">Grape</span>
              </ion-col> 
              <ion-col>
                <div class="menu-ms-close-aromas" style="--colorInner: #00ccff7a; --colorOutter: #00ccff00;">
                  <img src="./assets/imgs/drop_lime.svg" class="menu-top1">
                </div>
                <span  class="menu-mid1" style="font-size:100%; color: #998ead">Lime</span>
             </ion-col> 
            </ion-row>
          </ion-grid>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-row>
          <ion-col>
              <h5 style="color: #998ead; text-align-last:left; padding-top: 3vh; ">Temperature</h5>
          </ion-col>
      </ion-row>
  </ion-grid>

  
  <div class="tempText">
    <span  style="font-size:700%">17</span>
    <span  style="font-size:150%">temp</span>
  </div>

</ion-content>
